<?xml version="1.0" encoding="utf-8"?>

<openerp>
    <data>



        <menuitem 
            name="Lignes de commandes"
            id="is_menu_sale_order_line" 
            parent="base.menu_sales" 
            action="is_action_sale_order_line" 
            sequence="70"
        />
        <menuitem 
            name="Statistique commandes"
            id="is_sale_order_line_menu"
            parent="base.menu_sales"
            action="is_sale_order_line_action"
            sequence="80"
        />
        <menuitem 
            name="Catégorie client"
            id="is_categorie_client_menu"
            parent="base.menu_sales"
            action="is_categorie_client_action"
            sequence="90"
        />

        <menuitem id="is_liste_manquants_menu" sequence="90"  name="Liste des manquants" action="is_liste_manquants_action" parent="stock.menu_stock_inventory_control"/>

        <menuitem id="menu_is_autre"           sequence="90"  name="Autre"/>
        <menuitem id="mail.mail_feeds_main"    sequence="90"  name="Messagerie"          parent="menu_is_autre"/>

        <!-- Export Compta -->
        <menuitem   action="is_export_vente_compta_action"  id="is_export_vente_compta_menu" parent="account.menu_finance_receivables" sequence="900"/>
        <menuitem   action="is_export_achat_compta_action"  id="is_export_achat_compta_menu" parent="account.menu_finance_payables" sequence="900"/>


        <menuitem   
            id="is_mode_reglement_menu" 
            name="Mode de règlement"
            action="is_mode_reglement_action"  
            parent="account.menu_finance_configuration" 
            sequence="90"
        />


        <menuitem   
            name="Lignes des nomenclatures"
            action="is_mrp_bom_line_action"  
            id="is_mrp_bom_line_menu" 
            parent="mrp.menu_mrp_bom" 
            sequence="11"
        />


        <!-- Importation nomenclature -->
        <menuitem   
            name="Importation nomenclature"
            action="is_import_nomenclature_action"  
            id="is_import_nomenclature_menu" 
            parent="mrp.menu_mrp_bom" 
            sequence="900"
        />


        <menuitem 
            action="action_is_stock_category_config" 
            id="menu_stock_category"
            parent="stock.menu_stock_configuration" 
            sequence="12" 
        />

        <menuitem 
            action="is_position_dans_produit_action" 
            id="is_position_dans_produit_menu"
            parent="mrp.menu_mrp_configuration"
            sequence="90" 
        />



        <record model="ir.actions.act_window" id="is_mail_message_action">
            <field name="name">Messages</field>
            <field name="res_model">mail.message</field>
            <field name="view_type">form</field>
            <field name="view_mode">tree,form</field>
            <field name="domain">[('type', 'not in', ['notification'])]</field>
        </record>
        <menuitem 
            action="is_mail_message_action" 
            id="is_mail_message_menu"
            parent="purchase.menu_procurement_management"
            sequence="900" 
        />








    </data>
</openerp>

